/* .btn {
  background: #0ea5ea;
  background: linear-gradient(90deg,#0ea5ea,#0bd1d1 51%,#0ea5ea) var(--x,0)/200%;;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
}
.btn:hover {
  --x: 100%;
  transition: 0.5s;
} */
